<div class="row form-inputs">
  <div class="row col-sm-12 col-md-8 col-lg-8">
    <%= f.input :name, :label => 'Title', :disabled => disabled %>
    <%= f.input :date_field, as: :date_picker, :label => 'Date field', :disabled => disabled %>
    <%= f.input :dateTime_field, as: :datetime_picker, :label => 'DateTime field', :disabled => disabled %>
    <%= f.input :time_field, as: :time_picker, :label => 'Time field', :disabled => disabled %>
    <%= f.input :comment, :label => 'Comment', :disabled => disabled %>
  </div>
</div>
